version: '3.8'

services:
  carla:
    container_name: carla_sim

    image: carlasim/carla:0.9.15
    command: ['bash', './CarlaUE4.sh', '-vulkan']

    runtime: nvidia
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - QT_X11_NO_MITSHM=1
      - SDL_VIDEODRIVER=x11
    user: '1001'
    volumes:
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro
      - /etc/sudoers:/etc/sudoers:ro
      - /etc/sudoers.d:/etc/sudoers.d:ro
      - /home/${USER}:/home/${USER}:rw
    privileged: true
    network_mode: 'host'
    stdin_open: true
    tty: true

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "python3 -c \"import carla; c=carla.Client('127.0.0.1',2000); c.set_timeout(1.0); w=c.get_world(); m=w.get_map().name; assert m\""
        ]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 20s

  carla-viz:
    container_name: carla_viz
    restart: on-failure
    image: mjxu96/carlaviz:0.9.15
    network_mode: host
    depends_on:
      - 'carla'
    environment:
      - CARLAVIZ_HOST_IP=localhost
      - CARLA_SERVER_IP=localhost
      - CARLA_SERVER_PORT=2000
# https://github.com/vishnubob/wait-for-it
# apt install wait-for-it
# wait-for-it localhost:2000 -t 60 -s -q -- echo "CARLA server started"
# entrypoint: ["./wait-for-it.sh", "db:5432", "--", "echo ", "CARLA server started"]
